<!DOCTYPE html>
<html >
    <head>
        <title>
            To do list
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .parent{
                margin-top: 50px;
                padding: 15px;

            }
            a{
                color: silver;
            }
            input{
                width: 300px;
                /* margin: auto; */
            }
        </style>
    </head>
    <body class="bg-secondary">
        
        {% include 'navbar.html' %}
        <div class="parent container bg-info">
            <div class=" col-md-8 mx-auto">
                <form method="POST" action="/">
                    {% csrf_token %}
                    {{forms.title}}
                    
                    <button class="btn-danger" type="submit">Add Task</button>
                </form>

               
                    {% for task in tasks %}
                        <div class="row">
                            <div class="col">
                                
                                <a href= "{% url 'update_task' task.id %}" >Edit</a>
                            </div>
                            
                            <div class="col">
                                <a href= "{% url 'delete_task' task.id %}" >Delete</a>
                            </div>
                            
                            <div class="col">
                                {% if task.done == True %}
                                    <strike>{{task.title}}</strike>
                                {% else %}
                                    {{task.title}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                
            </div>
        </div>
    </body>
</html>