
#myDIV
{
    text-align: center;
    
}
#myInput
{
    width: 400px;
    height: 40px;
    border-radius: 3px;
    border: solid 2px grey;
    margin-top: 8px;
    margin-right: 0;
    padding-right: 0;
}
#button{height: 40px;margin-left: 0;padding-left: 0;width: 65px;background-color:cadetblue;border-radius: 3px;border: solid 2px black}

ul{width: 470px; 
	margin-left: auto; 
	margin-right: auto; list-style: none;background-color:darkgray;}
