
html {
    width: 100%;
    height: 100%; 
}

body 
{
    height: 100%;  
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(201,201,201)
}
.container
{
    margin: auto;
    width: 1300px
}
.header
{
    background-color: rgb(71,71,71);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}
.header h3
{
    color: rgb(201,201,201);
    font: bold 25px Arial ;
    margin-top: 10px;
    text-align: center
}
.body
{
    position: relative;
    top: 40px;
    z-index: 1;
    color: rgb(71,71,71)
}
.body .top{text-align: center}
.body .top h1{font: 35px Arial;margin-bottom: 5px}
.body .top h2{margin-top: 5px;font-style: italic}

.body .top img
{
    margin-bottom: 0;
}
.body .top p
{
    margin: 0
}
.body .top h4{font-size: 18px;}
ul{margin-bottom: 0}
ul li{line-height: 1.5}
.body h3,.body h4{margin: 5px;margin-left: 25px}
.body span{margin-left: 0;padding-bottom: 8px; color: rgb(0,83,41);font-size: 20px}
a{text-decoration: none;color: black;font: 18px Arial}

