/**{margin: 0;padding: 0}*/
.center
{
    text-align: center;
}
.header
{
    height: 50px;
    width: 100%;
    background-color:rgb(230,255,242);
    padding-top: 12px;
    position: fixed;
    top: 0;
    
}
.header nav ul
{
    list-style: none;
/*    text-align: center;*/
}
.header ul li
{
    display: inline-block;
}
ul li a
{
    padding: 3px 5px;
    margin-left: 5px;
    border-radius: 3px;
    background-color: rgb(113,113,113);
    color: rgb(255,255,255);
}
ul li a:hover
{
    background-color: rgb(255,255,255);
    color: rgb(113,113,113);
    text-decoration: none
}
.slider
{
    background-image: url(cover.png);
    background-size: cover;
    height: 900px;
    padding-top: 250px;
    color:rgb(255,255,255)
}
.slider h1{padding-bottom: 35px;font:bold 60px Arial}
.slider h3{padding-bottom: 25px;font: bold 30px Arial}
.slider p{margin-bottom: 8px;font: 18px Arial}
.music
{
    background-color: rgb(213,255,234);
    color: rgb(0,0,0);
    padding-top: 40px
}
.music h1{padding-bottom: 35px;font:bold 50px Arial}
.music h3{padding-bottom: 25px;font: bold 30px Arial}
.music p{margin-bottom: 15px;font:500 20px Arial}
p.lessSize{font: 200 16px Arial;margin:25px auto 20px}
.music img{padding-bottom: 50px}
.video{padding: 50px}
.video h3{padding-bottom: 25px;font: bold 30px Arial}
.video p{padding-bottom: 20px;font:500 20px Arial;line-height: 1.5;}
.entertainment
{
    background-image: url(galaxy.jpg);
    background-size: cover;
    height: 600px;
    color: rgb(255,255,255);
    padding-top: 200px
}
.entertainment h3{padding-bottom: 40px;font: bold 30px Arial}
.entertainment p{font: 18px Arial;line-height: 1.8}
.gift-cards{padding: 70px}
.cards div{display: inline-block;width: 45%;padding-left: 2%}
.cards div img{width: 100%}
.menu{background-color:rgb(213,255,234);display: flex}
.menu div{display: inline-block;padding: 30px}
.menu ul{list-style: none;text-align: left;padding: 0;margin: 0}
footer{height: 60px;padding: 15px; text-align: center}



